@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif KR', serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answer_box {
    display: flex;
}
.answer_box .spell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.characters {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s opacity;    
}
.characters.show {
    opacity: 1;    
}

.spell {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../combination_hangul_1.svg");
    background-size: 2700% 2100%;
    background-repeat: no-repeat;
}
.spell.answer {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../combination_hangul_gray_1.svg");    
    background-size: 2700% 2100%;
    background-repeat: no-repeat;
    transition: 0.5s;    
}
.spell.show {
    opacity: 1;
}

.answer_wrap {
    display: flex;
}

.answer_word {
    position: relative;
    width: 100px;
    height: 100px;
}

.answer_word > span {
    text-align: center;    
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;        
    font-size: 5.5rem;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s opacity;
    color: #bebebe;
}
.answer_word > span.show {
    opacity: 1;
}
.answer_word > span.finish {
    opacity: 1;
    color: #111;
}

.answer_button{
    margin-top: 1rem;    
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: dodgerblue;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}